@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.loader {
  width: 100px;
  height: 3px;
  background-color: #dddddd;
  border-radius: 20px;
  overflow: hidden;
}

.child {
  width: 60px;
  height: 3px;
  background-color: #6C5CE7;
  border-radius: 20px;
  z-index: 0;
  margin-left: -60px;
  animation: go 1s 0s infinite;
}

@keyframes go {
  from {
    margin-left: -100px;
    width: 80px;
  }
  to {
    width: 30px;
    margin-left: 110px;
  }
}
.text {
  width: 100px;
  height: 30px;
  background-color: transparent;
  margin-top: 20px;
  text-align: center;
}

.text::before {
  content: "Lädt";
  color: #1D1E20;
  animation: text 1s 0s infinite;
}

@keyframes text {
  0% {
    content: "Lädt";
  }

  30% {
    content: "Lädt.";
  }

  60% {
    content: "Lädt..";
  }

  100% {
    content: "Lädt...";
  }
}
.enter {
  animation: enterAnimation .3s ease-in-out forwards;
}
.leave {
  animation: leaveAnimation .4s linear forwards;
}
@keyframes enterAnimation {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes leaveAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200%);
  }
}